/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */


#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define CMK 0
#define SYM 1
#define NUM 2
#define NAV 3
#define FUN 4
#define DAN 5
#define LCK 6

&caps_word {
   continue-list = <UNDERSCORE MINUS BACKSPACE>;
};

/ {

    combos {
        #include "combos.dtsi"
    };

    behaviors {
        skq: sticky_key_quick_release {
            compatible = "zmk,behavior-sticky-key";
            label = "STICKY_KEY_QUICK_RELEASE";
            #binding-cells = <1>;
            bindings = <&kp>;
            release-after-ms = <1000>;
            quick-release;
        };
    };
};


/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
// ------------------------------------------------------------------------------------------------------------------------------------------------
//  |  TRANS  |  TRANS  |  TRANS  |  TRANS  |  TRANS  |  TRANS  |                     |  TRANS  |  TRANS  |  TRANS  |  TRANS  |  TRANS  |  TRANS  |
//  |  TRANS  |    Q    |    W    |    E    |    R    |    T    |                     |    Y    |    U    |    I    |    O    |    P    |  TRANS  |
//  |  TRANS  |    A    |    S    |    D    |    F    |    G    |                     |    H    |    J    |    K    |    L    |    ;    |  TRANS  |
//  |  TRANS  |    Z    |    X    |    C    |    V    |    B    |  TRANS  | |  TRANS  |    N    |    M    |    ,    |    .    |  -FUN-  |  TRANS  |
//                                |  TRANS  |  TRANS  |  SPACE  |  -SYM-  | |  -NUM-  |  ENTER  |  TRANS  |  TRANS  |
            bindings = <
    &trans    &trans    &trans    &trans    &trans    &trans                          &trans    &trans    &trans    &trans    &trans    &trans
    &trans    &kp Q     &kp W     &kp E     &kp R     &kp T                           &kp Y     &kp U     &kp I     &kp O     &kp P     &trans
    &trans    &kp A     &kp S     &kp D     &kp F     &kp G                           &kp H     &kp J     &kp K     &kp L     &kp SEMI  &trans
    &trans    &kp Z     &kp X     &kp C     &kp V     &kp B     &trans       &trans   &kp N     &kp M     &kp COMMA &kp DOT   &mo FUN   &trans
                                  &trans    &trans    &kp SPACE &mo SYM      &mo NUM  &kp RET   &trans    &trans
            >;
        };

        symbol_layer {
            display-name = "Symbols";
//  -----------------------------------------------------------------------------------------------------------------------------------------------
//  |  TRANS  |  TRANS  |  TRANS  |  TRANS  |  TRANS  |  TRANS  |                    |  TRANS  |  TRANS  |  TRANS  |  TRANS  |  TRANS  |  TRANS   |
//  |  TRANS  |         |    \    |    %    |    $    |         |                    |         |    ^    |    {    |    }    |         |  TRANS   |
//  |  TRANS  |    !    |    (    |    )    |    :    |    ?    |                    |    "    |    '    |    [    |    ]    |    ;    |  TRANS   |
//  |  TRANS  |   DEL   |    `    |    @    |    &    |         |  TRANS  ||  TRANS  |         |    #    |    <    |    >    |  -FUN-  |  TRANS   |
//                                |  TRANS  |  TRANS  |  SPACE  |  _SYM_  ||   ESC   |  ENTER  |  TRANS  |  TRANS  |
            bindings = <
    &trans    &trans    &trans    &trans    &trans    &trans                         &trans    &trans    &trans    &trans    &trans    &trans   
    &trans    &none     &kp BSLH  &kp PRCNT &kp DLLR  &none                          &none     &kp CARET &kp LBRC  &kp RBRC  &none     &trans
    &trans    &kp EXCL  &kp LPAR  &kp RPAR  &kp COLON &kp QMARK                      &kp DQT   &kp COLON &kp LBKT  &kp RBKT  &kp SEMI  &trans
    &trans    &kp DEL   &kp GRAVE &kp AT    &kp AMPS  &none      &trans     &trans   &none     &kp HASH  &kp LT    &kp GT    &mo FUN   &trans
                                  &trans    &trans    &kp SPACE  &trans     &kp ESC  &kp RET   &trans    &trans
            >;
        };

        number_layer {
            display-name = "Number";
//  -----------------------------------------------------------------------------------------------------------------------------------------------
//  |  TRANS  |  TRANS  |  TRANS  |  TRANS  |  TRANS  |  TRANS  |                    |  TRANS  |  TRANS  |  TRANS  |  TRANS  |  TRANS  |  TRANS   |
//  |  TRANS  |         |    /    |    -    |    |    |         |                    |         |    7    |    8    |    9    |         |  TRANS   |
//  |  TRANS  |         |    ~    |    _    |    =    |         |                    |    .    |    4    |    5    |    6    |  -NAV-  |  TRANS   |
//  |  TRANS  |   BSPC  |    *    |    +    |         |         |  TRANS  ||  TRANS  |    0    |    1    |    2    |    3    |         |  TRANS   |
//                                |  TRANS  |  TRANS  |  SPACE  |   ESC   ||  _NUM_  |  ENTER  |  TRANS  |  TRANS  |
            bindings = <
    &none     &none     &none     &none     &none     &none                          &none     &none     &none     &none     &none     &none   
    &none     &none     &kp FSLH  &kp MINUS &kp PIPE  &none                          &none     &kp N7    &kp N8    &kp N9    &none     &none
    &none     &none     &kp TILDE &kp UNDER &kp EQUAL &none                          &kp DOT   &kp N4    &kp N5    &kp N6    &mo NAV   &none
    &none     &kp BSPC  &kp STAR  &kp PLUS  &none     &none      &none       &none   &kp N0    &kp N1    &kp N2    &kp N3    &none     &none
                                  &none     &none     &trans     &kp ESC     &trans  &trans    &none     &none
            >;
        };

        nav_layer {
            display-name = "Navigations";
// ------------------------------------------------------------------------------------------------------------------------------------------------
//  |         |         |         |         |         |         |                    |         |         |         |         |         |          |
//  |         |         |         |         |         |         |                    |         |         |         |         |         |          |
//  |         |         |         |         |         |         |                    |   LEFT  |   DOWN  |    UP   |  RIGHT  |  _NAV_  |          |
//  |         |         |         |         |         |         |         ||         |   HOME  | PAGE_DN | PAGE_UP |   END   |         |          |
//                                |         |         |  SPACE  |         ||  _NUM_  |  ENTER  |         |         |
            bindings = <
    &none     &none     &none     &none     &none     &none                          &none     &none     &none     &none     &none      &none   
    &none     &none     &none     &none     &none     &none                          &none     &none     &none     &none     &none      &none
    &none     &none     &none     &none     &none     &none                          &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT &trans     &none  
    &none     &none     &none     &none     &none     &none      &none      &none    &kp HOME  &kp PG_DN &kp PG_UP &kp END   &none      &none
                                  &none     &none     &trans     &trans     &trans   &trans    &none     &none
            >;
        };

        fun_layer {
            display-name = "Functional";
// ------------------------------------------------------------------------------------------------------------------------------------------------
//  |         |         |         |         |         |         |                    |         |         |         |         |         |          |
//  |         |         |         |         |         |         |                    |    F12  |    F7   |    F8   |    F9   |         |          |
//  |         |  CAPSL  |   BT0   |   BT1   |   BT2   |         |                    |    F11  |    F4   |    F5   |    F6   |         |          |
//  |         |  _DAN_  |         |         |         |         |         ||         |    F10  |    F1   |    F2   |    F3   |  _FUN_  |          |
//                                |         |         |  SPACE  |         ||         |   ENTER |         |         |
            bindings = <
    &none     &none     &none     &none     &none     &none                          &none     &none     &none     &none     &none      &none   
    &none     &none     &none     &none     &none     &none                          &kp F12   &kp F7    &kp F8    &kp F9    &none      &none
    &none     &kp CAPS  &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &none                 &kp F11   &kp F4    &kp F5    &kp F6    &none      &none  
    &none     &mo DAN   &none     &none     &none     &none      &none      &none    &kp F10   &kp F1    &kp F2    &kp F3    &trans     &none
                                  &none     &none     &trans     &trans     &trans   &trans    &none     &none
            >;
        };

        danger_layer {
            display-name = "Dangerous";
// -----------------------------------------------------------------
// |     |     |     |     |     | |     |     |     |     |     |
// |     |     |     |     |     | |BTCLR|  BT | USB |RESET|     |
// |     |     |     |     |     | |     |     |     |     |BOOTL|
// |_!!!_|     |     |     |     | |     |     |     |     |_FUN_|
//                   |     |     | |     |     |
// &sys_reset - Resets the keyboard and re-runs the firmware flashed to the device
// &bootloader - Resets the keyboard and puts it into bootloader mode, allowing you to flash new firmware
// &bt - Completes a bluetooth action given on press, BT_CLR Behavior binding to clear the paired host for the selected profile
// &out - Allows selecting whether output is sent to the USB or bluetooth connection when both are connected
// OUT_USB Behavior binding to prefer sending keyboard output to USB
// OUT_BLE Behavior binding to prefer sending keyboard output to the current bluetooth profile
// OUT_TOG Behavior binding to toggle between preferring USB and BLE
            bindings = <
&none &none &none &none &none &none &none &none &none &none &none &none
&none &none &none &none &none &none &bt BT_CLR  &out OUT_BLE &out OUT_USB &sys_reset &none &none
&none &none &none &none &none &none &none &none &none &none &bootloader &none
&none &trans &none &none &none &none &none &none &none &none &none &none &trans &none
&none &none &none &none &none &none &none &none
            >;
        };

        lock_layer {
            display-name = "Lock";
            bindings = <
&none &none &none &none &none &none &none &none &none &none &none &none
&none &none &none &none &none &none &none &none &none &none &none &none
&none &none &none &none &none &none &none &none &none &none &none &none
&none &none &none &none &none &none &none &none &none &none &none &none &none &none
&none &none &none &none &none &none &none &none
            >;
        };
    };
};
